<mat-toolbar class="justify-content-between">
  <div>
    <button mat-button [routerLink]="['/'|localize]"><mat-icon>local_florist</mat-icon></button>
  </div>
  <div>
    <ng-container *ngIf="loggedIn;else guestActions">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </ng-container>
    <ng-template #guestActions>
      <button mat-raised-button color="primary" *ngIf="!loginViewActive" [routerLink]="['/account/login'|localize]">{{'Login'|translate}}</button>
      <button mat-button color="primary" *ngIf="!registerViewActive" [routerLink]="['/account/register'|localize]">{{'Register'|translate}}</button>
    </ng-template>
  </div>
</mat-toolbar>