<div class="container mt-5">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
    <h2 class="mb-3">{{'Log into your account'|translate}}</h2>
    <form [formGroup]="loginForm" novalidate>
      <mat-form-field class="w-100">
        <mat-label>{{'Email address'|translate}}</mat-label>
        <input matInput type="text" formControlName="email" name="email" value="{{loginForm.controls['email'].value}}" required="true">
        <mat-error>{{loginForm.controls['email'].errors|localizedError|async}}</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
      <mat-form-field class="w-100 mb-3">
        <mat-label>{{'Password'|translate}}</mat-label>
        <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="password" name="password" value="{{loginForm.controls['password'].value}}"
          required="true">
        <span matSuffix (click)="hidePwd=!hidePwd" style="cursor: pointer">
          <mat-icon [color]="hidePwd ? 'primary' : 'accent'">remove_red_eye</mat-icon>
        </span>
        <mat-error>{{loginForm.controls['password'].errors|localizedError|async}}</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="submit()">{{'Login'|translate}}</button>
      <button type="button" mat-button color="accent" [routerLink]="['/account/forgot-password'|localize]">{{'Forgot password?'|translate}}</button>
    </form>
  </div>
</div>