<div class="container mt-5">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
    <h2 class="mb-3">{{'Reset your account password'|translate}}</h2>
    <form [formGroup]="forgotPwdForm" novalidate>
      <mat-form-field class="w-100 mb-3">
        <mat-label>Email address</mat-label>
        <input matInput type="text" formControlName="email" name="email" value="{{forgotPwdForm.controls['email'].value}}" required="true">
        <mat-error>{{forgotPwdForm.controls['email'].errors|localizedError|async}}</mat-error>
        <mat-hint></mat-hint>
      </mat-form-field>
      <button type="button" mat-raised-button color="primary" (click)="submit()">{{'Reset password'|translate}}</button>
      <button type="button" mat-button color="accent" [routerLink]="['/account/login'|localize]">{{'Back to login'|translate}}</button>
    </form>
  </div>
</div>